<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <th:block th:replace="fragments/commonMeta.html :: meta"></th:block> -->
<meta name="contextPath" content="/*[[@{/}]]*/">
<title>주말대표</title>
<link rel="stylesheet" th:href="@{/admin/css/common.css}" />
<link rel="stylesheet" th:href="@{/admin/css/worksite.css}" />
<script th:src="@{/admin/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/admin/js/common.js}"></script>
<script th:src="@{/admin/js/validation.js}"></script>
</head>
<body>
	<div id="target">
		<header th:insert="fragment/header :: headerFragment"></header>
		<!--header End-->
		<div class="wrap">
			<div class="container">
				<th:block th:insert="fragment/leftMenu :: leftMenuFragment"></th:block>
				<div class="contents">
					<p class="contentTitle">사용자 관리</p>
					<p class="sub_path">
						<img th:src="@{/admin/images/ico_home.png}" width="10" height="9" />&nbsp;〉&nbsp;사용자관리&nbsp;〉&nbsp;사용자관리
					</p>
					<form name="userForm" id="userForm" method="post">
						<div class="selectBox">
							<select class="w13p" name="searchCondition" id="searchCondition">
								<option th:selected="${userVO.searchCondition eq 'userNm'}" th:value="userNm" th:text="이름"></option>
								<option th:selected="${userVO.searchCondition eq 'emailAddr'}" th:value="emailAddr" th:text="이메일"></option>
							</select>
							<input class="searchName" name="searchKeyword" id="searchKeyword" onkeydown="if(event.keyCode==13){javascript:fn_searchList(1);}"  type="text" th:value="${userVO.searchKeyword}" />
							<button type="button" class="grayBtn ico" onclick="javascript:fn_searchList(1);">
								<img th:src="@{/admin/images/ico_search.png}"> 검색
							</button>
						</div>
					</form>
					<div class="tableLayer">
						<table class="tableList">
							<caption></caption>
							<colgroup>
								<col width="5%">
								<col width="20%">
								<col width="25%">
								<col width="20%">
								<col width="20%">
							</colgroup>
							<thead>
								<th class="noBg">아이디</th>
								<th sortId="name">성명 <span class="arrow_ascending"><a onclick="javascript:fn_sort(this.parentNode)" href="javascript:void(0);"></a></span> <span class="arrow_descending"><a onclick="javascript:fn_sort(this.parentNode)" href="javascript:void(0);"></a></span>
								</th>
								<th>휴대폰번호</th>
								<th sortId="email">이메일 <span class="arrow_ascending"><a onclick="javascript:fn_sort(this.parentNode)" href="javascript:void(0);"></a></span> <span class="arrow_descending"><a onclick="javascript:fn_sort(this.parentNode)" href="javascript:void(0);"></a></span>
								</th>
								<th sortId="regDt">가입일자 <span class="arrow_ascending"><a onclick="javascript:fn_sort(this.parentNode)" href="javascript:void(0);"></a></span> <span class="arrow_descending"><a onclick="javascript:fn_sort(this.parentNode)" href="javascript:void(0);"></a></span>
								</th>
							</thead>
							<tbody>
								<tr th:if="${rslt.resultListCnt} > 0" th:each="list : ${rslt.resultList}" th:onclick="fn_selectUserDetail([[${list.userId}]]);" style="cursor: pointer;" class="row">
									<td th:text="${list.userId}"></td>
									<td th:text="${list.name}"></td>
									<td th:text="${list.phoneNumber}"></td>
									<td th:text="${list.email}"></td>
									<td th:text="${list.regDt}"></td>
								</tr>
								<tr th:unless="${rslt.resultListCnt} > 0" class="row">
									<td colspan="8">데이터가 없습니다.</td>
								</tr>
							</tbody>
						</table>
						<div class="T_btnLayer fr">
							<a href="javascript:void(0);" onclick="javascript:fn_insertUser();"><button type="button" class="blueBtn L">등록</button></a>
						</div>
					</div>
					<!--페이징-->
					<div class="paging_place">
						<div class="paging_wrap" th:utext="${#basicPaginationFormat.paginationFormat(rslt.paginationInfo, 'fn_searchList')}"></div>
					</div>
				</div>
			</div>
			<!--container End-->
		</div>
		<!--wrap End-->
		<footer th:insert="fragment/footer :: footerFragment"></footer>
		<!--//footer-->
	</div>
	<script th:inline="javascript">
	//백엔드 넘길 데이터 
	let params = {};
	
	//검색
	const fn_searchList = function(pageNo) {
		params.pageIndex = pageNo;
		params.searchKeyword = $("#searchKeyword").val();
		params.searchCondition = $("#searchCondition").val();
		fn_searchListAjax(params);
	};
	
	
	//ajax 전송 
	const fn_searchListAjax = function(params) {
		$.ajax({
            url: contextPath+'/user/list',
            type: 'get',
            dataType :'html',
            data: params,
        }).done(function(r) {
        	$('#target').html(r);
        });
	};
	
	
	//정렬
	const fn_sort = function(obj) {
		params.sortDescend = obj.className == "arrow_ascending" ? "asc" : "desc";
		params.sortSubject = obj.parentNode.getAttributeNode("sortId").value;
		fn_searchListAjax(params);
	};
	
	//상세보기
	const fn_selectUserDetail = function(userId) {
// 		let url = /*[[@{/usermng/r/m/selectUserDetail.do}]]*/;
		let frm = document.userVO;
		frm.userId.value = userId;
		frm.action = url;
		frm.submit();
	}
	
	//사용자 등록
	const fn_insertUser = function() {
		let frm = document.userForm;
		// 폼이 로드되었는지 확인
        if (frm) {
            frm.action = document.querySelector('meta[name="contextPath"]').content + "/usermng/r/m/insertUser.do";
            frm.submit();
        } else {
            console.error("폼을 찾을 수 없습니다.");
        }
// 		frm.action = contextPath+ "/usermng/r/m/insertUser.do";
// 		frm.submit();
	};
	</script>
</body>
</html>